@font-face {
  font-family: 'hyliaSerif';
  src: url('./fonts/HyliaSerifBeta-Regular.otf');
}


html {
  background: rgb(3,3,3);
  background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(10,10,10,1) 60%, rgba(108,108,108,1) 100%);
width: 100%;
height: 100%;
font-family: 'hyliaSerif';
}



.header {
  display: flex;
  min-width: 100%;
  height: 10em;
  justify-content: space-between;
  background-color: darkgray;
  border-radius: 15px;

}

.header-logo {
  width: 250px;
  object-fit:contain;
  border-radius: 15px;
  padding: 10px;
}

.header-title {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.name{
  text-align: center;
  font-size: 32px;
  padding: 15px 0;

}

.title{
  font-size: 18px;
}

.header-btn{
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: black;
  font-size: 16px;
  border-style: solid;
  color: white;
  font-family: 'hyliaSerif';
}

.header-scoreboard {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-info{
  font-weight: 700;
  color: black;
}

.score{
  font-size: 24px;
}

.level{
  font-size: 20px;
}

.level-select{
  display: flex;
  flex-direction: column;
}

.selector{
  display: flex;
  gap: 10px;
}


.gameboard {
  color: black;
  margin: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  height: 250px;
  width: 200px;
  border-radius: 15px;
  background-color: white;

}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 200px;
  border-radius: 15px;
  object-fit: contain;


}

.card-name {
  border-top: 3px solid black;
  height: 20%;
  text-align: center;
  line-height: 40px;
}


/* TEMPORARY - MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: auto;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  max-width: 450px;
  height: 200px;
}

.modal-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.modal-info{
  font-size: 24px;
  text-align: center;

}

.btn{
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
  font-size: 21px;
  border-style: solid;
  color: white;
  font-family: 'hyliaSerif';
}

button:hover{
  cursor: pointer;
}


.btn-container{
  display: flex;
  gap: 10px;
  align-self: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}