html {
  background-color: black;
}

.header {
  display: flex;
  min-width: 100%;
  border: 1px solid white;
  height: 10em;
  color: white;
  justify-content: space-between;
}

.header-logo {
  width: 250px;
  border: 1px solid white;
}

.header-title {
  font-weight: 700;
}

.header-scoreboard {
  width: 250px;
  border: 1px solid white;
}

.gameboard {
  color: white;
  margin: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  height: 250px;
  border: 1px solid white;
  width: 200px;
}

.card-img {
  height: 80%;
}

.card-name {
  border: 1px solid white;
  height: 20%;

  text-align: center;
  line-height: 40px;
}